<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.set">

    <!-- @author Maximilian Knodt -->
    <!-- @author Linus Kurze -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Set">
        <activity
            android:name=".view.SplashScreen"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.HomeScreen"
            android:screenOrientation="landscape" />

    <activity android:name=".view.SinglePlayerGameScreen"
        android:screenOrientation="landscape" />

        <activity android:name=".view.MultiPlayerGameScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".view.SinglePlayerGameSelectionScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".view.MultiPlayerGameSelectionScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".view.MultiPlayerPlayersScreen"
            android:screenOrientation="landscape" />

    <activity android:name=".view.SettingsScreen"
        android:screenOrientation="landscape" />

        <activity android:name=".view.PauseScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".view.GameEndScreen"
        android:screenOrientation="landscape" />
    </application>

</manifest>