<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.set">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ui.HomeScreen"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".ui.SinglePlayerGameScreen"
        android:screenOrientation="landscape" />

        <activity android:name=".ui.MultiPlayerGameScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.SinglePlayerGameSelectionScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.MultiPlayerGameSelectionScreen"
            android:screenOrientation="landscape" />

    <activity android:name=".ui.SettingsScreen"
        android:screenOrientation="landscape" />

        <activity android:name=".ui.PauseScreen"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.GameEndScreen"
            android:noHistory="true"
        android:screenOrientation="landscape" />
    </application>

</manifest>